/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 4.5em;
  padding-bottom: 20px;
  font-family:Century Gothic;
  background-color:#3ca5b1;
}

.timeline-date-label {
	color:#fff;
}

.navbar {
	background-color:#005059;
    min-height: 5em;
	border:none;
}

.navbar-default 
.navbar-nav > li > a {
	color:#fff;
}

.timeline-band-inner a {
	color:#fff;
}

.navbar-default 
.navbar-nav > li > a:hover {
	color:#50dfef;
}

.navbar-default 
.navbar-nav > li > a:focus {
	color:#50dfef;
}

div.timeline-event-tape {
	background-color:#fccb11;
	border-radius:0.5em;
}

div.timeline-small-event-tape {
	background-color:#fccb11;
	border-radius:0.1em;
}
	

.navbar-default .navbar-brand {
	color:#fff;
	font-size:1em;
}

}
DIV.navbar-collapse.collapse.in {
	border:none;
}

.navbar-default .navbar-brand img {
	vertical-align:bottom;
}

.roundedInput {
	border-radius: 1em;
}

.navbar-form {
	white-space:nowrap;
	border:none;
}

.timeline-ether-bg {
	background-color:#3ca5b1;
}

.timeline-ether-weekends{
	position:absolute;
	background-color:none;
}

div#timelinecontainer{ height: 15em; width:100%;}
div#mapcontainer{ height: 30em; width:100%;}